<h2>Vítejte v galerii wmaster<h2>
</br>	
</br>
</br>
<h4>Tato aplikace je v Ruby on Rails a slouží k uploadu fotek na server. 
</h4> 
</br>
<h4>Pokud chcete začít nahrát fotky na server stačí začít na tomto odkazu
	<%=link_to "Galerie", galleries_path %>.</h4>
